@model IEnumerable<TransportManagementSystem.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stop1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stop2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stop3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stop1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stop2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stop3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
